:root {
  --pi: 3.14159265359;
  --a1: 60;
  --a2: 25;
  --a3: 10;
  --a4: 5;
}

body {
  overflow-x: hidden;
}

.bg-primary {
  background-color: #32e013;
}
.text-primary {
  color: #32e013;
}

.font-alien {
  font-family: "Orbitron", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}
